@font-face {
   font-family: 'Nunito Sans', sans-serif;
   src: url('../Fonts/NunitoSans-Regular.ttf');
}

@font-face {
   font-family: 'Yeseva One', serif;
   src: url("../Fonts/YesevaOne-Regular.ttf");
}

:root{
   --main-ff: 'Nunito Sans', sans-serif;
   --second-ff: 'Yeseva One', serif;
   --text-color: rgba(227, 184, 115, 1);
   --button-bg-color: rgba(227, 184, 115, 1);
   --icon-bg-color: rgba(227, 184, 115, 1);
}

*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-family: var(--main-ff);
   margin: 0 auto;
   list-style: none;
   text-decoration: none;
}

body{
   max-width: 1440px;
}



img{
   vertical-align: top;
}

html, body{
   height: 100vh;
}

.wrapper{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.main{
   flex: 1 1 auto;
}


.container{
   max-width: 1236px;
   margin: 0 auto;
}



/* header and footer */

.header, .footer{
   width: 100%;
   height: 83px;
   background: #131313;
   padding: 23px 90px 37px 94px;
}

.header-item, .footer-item{
   /* max-width: 1256px; */
   display: flex;
   align-items:center;
   transition: all .4s;
}

.header-logo, .footer-logo{
   margin: 0 122px 0 -10px;
   letter-spacing: 0.2px;
}

.header-nav ul, .footer-nav ul{
   display: flex;
   justify-content: space-between;
}

.header-nav{
   margin-left: 0;
}

.header-nav__item{
   margin-right: 55px;
}

.header-nav__item:nth-child(3){
   margin-right: 62px;
}

/* .header-nav li, .footer-nav li{
   margin-right: calc(47 / 1236 * 100%);
} */

.header-nav li:last-child, .footer-nav li:last-child{
   margin-right: calc(67 / 1236 * 100%);
}

.header-logo a, .header-tel a, .footer-logo a, .footer-tel a{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 15px;
   color: #FFFFFF;
   text-transform: uppercase;
   letter-spacing: 0.2px;
}

.header-tel a{
   font-size: 11px;
}

.header-nav ul li a, .footer-nav ul li a{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 15px;
   color: #FFFFFF;
}

.header-logo a:hover, .header-nav a:hover, .header-tel a:hover, .footer-logo a:hover, .footer-nav a:hover, .footer-tel a:hover{
   color:var(--text-color);
   transition: all .4s;
}

.header-tel{
   margin: 0 -4px 0 1.77%;
}

.header-tel a{
   letter-spacing: 0.5px;
}



button.button-header, button.button-footer{
   /* width: calc(161 / 1236 * 100%); */
   width: 161px;
   height: 37px;
   background:var(--button-bg-color);
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
   border-radius: 2px;
   border:none;
   font-family: var(--main-ff);
   font-style: italic;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor:pointer;
   padding: 13px 2.66%;
   margin: 0 -8px 0 4.04%;
}

.header-burger{
   display: none;
}

/* main */

main{
   width: 100%;
}

/* section-main */

.section-main{
   width: 100%;
   height: 707px;
   background:url("../Image/main/image\ 4.3.jpg");
   background-size:cover;
   position: relative;
}

.repair-main{
   padding: 191px 780px 208px 40px;
   position: relative;
   z-index: 1;
}

.repair-header{
   width: 576px;
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 53px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 19px;
   word-spacing: 0.09em;
}

.marker-city{
   font-family: var(--second-ff);
   color:var(--text-color);
}

.repair-text{
   width: 492px;
   margin: 0;
   font-family:var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 36px;
   color: #FFFFFF;
   margin-bottom: 22px;
   margin-left: -8px;
}

.repair-buttons{
   width: 464px;
   display: flex;
   justify-content: space-between;
   padding-left: 0;
   margin-left: -8px;
}

button.repair-buttons__left, button.repair-buttons__right{
   width: 207px;
   height: 51px;
   border: 1px solid #FFFFFF;
   border-radius: 2px;
   font-family: var(--main-ff);
   font-style: italic;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-align: center;
   color: #FFFFFF;
   background:rgba(0, 0, 0, 0);
   cursor:pointer;
   transition: all .4s;
}

.repair-buttons__left{
   margin: 0 10px 0 0;
}

.repair-buttons__right{
   margin: 0 30px 0 10px;
}

.repair-buttons__left:hover, .repair-buttons__right:hover{
   background:var(--button-bg-color);
   transition: all .4s;
}

.background-repair{
   content: '';
   position: absolute;
   top:0;
   right: 0;
   bottom:0;
   left:0;
   background:rgba(0, 0, 0, 0.7);
}

/* section-projects */

.section-projects{
   width: 100%;
   height: 1074px;
   background: #131313;
}

.projects-header ul{
   display: flex;
   justify-content: flex-end;
   margin-right: 34px;

}

.projects-header ul li{
   margin: 0 30px;
}

.projects-header_item{
   text-decoration: none;
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.3);
}

.projects-header_item:nth-child(2){
   margin: 0 15px 0 10px;
}


.projects-header_item:hover{
   color:var(--text-color);
}

.projects-header_item::after{
   content:'';
   display: block;
   width: 0;
   position: relative;
   height: 2px;
   background: #E3B873;
   transition: width .4s ease-out;
}

.projects-header_item:hover::after{
   width: 100%;
   transition: width .4s ease-out;
}


.projects-row{
   padding: 105px 134px 414px;
}

.projects-main{
   display: flex;
   justify-content: space-between;
}

.projects-header{
   margin-bottom: 45px;
}

.infomation_main{
   width: 256px;
   font-family:var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 37px;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: #E3B873;
   margin: 1px 0 25px 2px;
}

.infomation__text{
   width: 446px;
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 27px;
   color: #FFFFFF;
   margin-bottom: 49px;
}

.projects-img{
   margin-left: 18px;
}

.projects-img img{
   max-width: 679px;
   height: 482px;
}

.projects-img__subtext{
   display: none;
}

.discription__row1, .discription_row2{
   display: flex;
   
}

.discription__row1{
   margin-bottom: 54px;
}

.discription_item{
   margin-left: 0;
   text-align: left;
}

.discription_item:nth-child(2){
   margin-left: -57px;
}

.discription-item__cost{
   margin-left: 5px;
}


.discription_item h3{
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-transform: uppercase;
   color: var(--text-color);
   margin-bottom: 7px;
}

.discription_item{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: #FFFFFF;
}

.information-slaider{
   margin-top: 85px;
}



.information-slaider_switch{
   margin: 0 25px;
}

/* section-control */

.section-control{
   margin-top: -327px;
}

.control-main{
   display: flex;
   flex-direction: column;
   position: relative;
}

.control-header{
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color:#FFFFFF;;
   margin-bottom: 13px;
   
}

.control-logo{
   display: flex;
   align-items:center;
}

.control_camera{
   margin: 0 10px;
}

.control-image-main{
   max-width: 100%;
   position: relative;
}

.control-image{
   margin-top: 31px;
   margin-bottom: 62px;
   max-width: 100%;
   width: 817px;
   height: 434px;
   background:url('../Image/control/image\ 6.png');
   background-size:cover;
   position: relative;
}

.control_play{
   position: absolute;
   top: 149px;
   left: 336px;  
   z-index: 1;
}

.background-control-image{
   content: '';
   position: absolute;
   top:0;
   right: 0;
   bottom:0;
   left:0;
   background:rgba(0, 0, 0, 0.7);
}

.control-line{
   margin-bottom: 12px;
}

.control-text{
   width: calc(640 / 1236 * 100%);
   margin-bottom: 75px;
}

.control-text p{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 37px;
   text-align: center;
   color: #363636;
}

.form-items_row{
   display: flex;
   justify-content: center;
   align-items:center;
   margin-bottom: 34px;
}

.form-item{
   margin-right: 54px;
}

.form-item:last-child{
   margin-right: 0;
}

.form-item{
   display: flex;
   flex-direction: column;
}



.form-item_supname, .form-item_supphone{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: rgba(54, 54, 54, 0.5);
}

.form-item_supname{
   margin: 4px 0 4px -4px;
}

.form-item_supphone{
   margin: 4px 0 4px 4px;
}

.form-item_name, .form-item_phone{
   border:none;
}

.form-item_name{
   margin: 0 0 8px -2px;
}

.form-item_phone{
   margin: 0 0 8px 5px;
}


.form-item_name::placeholder, .form-item_phone::placeholder{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 23px;
   color: #363636;
   
}

.control-button{
   width: 200px;
   height: 51px;
   background: var(--button-bg-color);
   box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
   border:none;
   border-radius: 2px;
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 27px;
   /* identical to box height */
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
   margin-top: 5px;
}

.form-checkbox{
   display: flex;
   justify-content: center;
   align-items:center;
   margin-bottom: 148px;
}

.form-checkbox__subbutton{
   display: none;
}

.label{
   cursor: pointer;
}


.checkbox{
   display: none;
}

.fake{
   display: inline-flex;
   width: 18px;
   height: 18px;
   background: var(--button-bg-color);
   color: #fff;
   justify-content: center;
}

.text{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 163.68%;
   color: #181818;

}

.fake::before{
   content:"\2714";
   opacity: 0;
   transition: .2s;
}

.checkbox:checked + .fake::before{
   opacity: 1;
   
}

/* section-types */

.types-main{
   display: flex;
   flex-direction: column;
   margin-top: -8px;
}

.types-header{
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: #181818;
   margin-bottom: 13px;
}

.types-logo{
   display:flex;
   justify-content: space-between;
   align-items:center;
   margin-bottom: 31px;
}

.types-log{
   margin: 0 10px;
}

.types-row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0 10px;
}


.types-row_item{
   margin-right: 20px;
}



.types-row_item:last-child{
   margin-right: 0;
}


.types-item_backgroundleft{
   width: 392px;
   height: 421px;
   background:url('../Image/types/types1.png')
}

.types-item_backgroundmidlle{
   width: 392px;
   height: 421px;
   background:url('../Image/types/types2.png')
}

.types-item_backgroundright{
   width: 392px;
   height: 421px;
   background:url('../Image/types/types3.png')
}

.types-item_discription{
   width: 330px;
   height: 286px;
   background: #FFFFFF;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
   padding: 21px 29px 49px 34px;
   margin-top: -125px;
}

.types-discription{
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #363636;
   margin-bottom: 7px;
}



.types-discription_list li{
   list-style: disc;
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 27px;
   color: #959595;
   margin-left: 13px;
}

.types-button{
   width: 228px;
   height: 54px;
   background: var(--button-bg-color);
   box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
   border:none;
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 25px;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
   margin: 16px 0 0 -32px;
}

/* types-request */

.types-request{
   margin-top: 144px;
}

.request-row{
   display: flex;
   justify-content: space-between;
}

.request-row__left{
   width: 625px;
   height: 645px;
   background:url('../Image/types/request/request.svg');
   background-size:cover;
   padding: 116px 0 54px 138px;
}

.request-left__items{
   display: flex;
   align-items:center;
   margin-bottom: 87px;
}

.request-item__number{
   width: 56px;
   height: 56px;
   background: var(--button-bg-color);
   border: 8px solid #FFFFFF;
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
   border-radius: 30px;
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   text-align: center;
   color: #FFFFFF;
   margin:0 -75px 0 0; 
   display: flex;
   justify-content: center;
   align-items:center;
}

.request-item__text{
   width: 336px;
   font-family:var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #363636;
}



.request-form{
   width: 506px;
   height: 509px;
   background: #131313;
   box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
   margin: 111px 0 7px 105px;
   padding: 28px 49px 27px;

}


.request-form__header{
   width: 267px;
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 32px;

}


.request-form-name__text, .request-form-phone__text, .request-form-email__text{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 4px;
   margin-left: 1px;
}

.request-form-name__input, .request-form-phone__input, .request-form-email__input{
   background: #131313;
   border:none;
   margin-bottom: 38px;
}

.request-form-name__input::placeholder, .request-form-phone__input::placeholder, .request-form-email__input::placeholder{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 23px;
   color: #FFFFFF;
}

.request-form-checkbox{
   display: block;
}

.request-form-checkbox__text{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 163.68%;
   color: #FFFFFF;
}

.request-button{
   width: 213px;
   height: 51px;
   border:none;
   background: var(--button-bg-color);
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-top: 39px;
   margin-left: 196px;
   cursor: pointer;
}

.request-sale{
   margin:8px 0 0 490px;
}

.request-sale-row{
   width: 340px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.request-sale-text{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   color: #E3B873;
   text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

}

/* section-fantasies */

.section-fantasies{
   width: 100%;
   height: 864px;
   background:url("../Image/fantasies/image\ 5.1.png");
   background-size:cover;
   position: relative;
   margin: 242px 0 110px;
}

.section-fantasies-row{
   display: flex;
   justify-content: space-between;
   
}


.section-fantasies-column{
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 1;
}

.fantasies-column__title{
   width: 290px;
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 27px;
   line-height: 37px;
   text-transform: uppercase;
   color: #E3B873;
   margin-bottom: 47px;
}

.fantasies-column__list{
   margin-left: 0;
}

.fantasies-column__list li{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 38px;
   color: #FFFFFF;
   margin-bottom: 11px;
}

.fantasies-column__list li:hover{
   color:var(--text-color);
}

.fantasies-column__list li::after{
   content:'';
   display: block;
   width: 0;
   position: relative;
   height: 2px;
   background: #E3B873;
   transition: width .4s ease-out;
}

.fantasies-column__list li:hover::after{
   width: 100%;
   transition: width .4s ease-out;
}

.background-fantasies{
   content: '';
   position: absolute;
   top:0;
   right: 0;
   bottom:0;
   left:0;
   background:rgba(0, 0, 0, 0.7);
}

.section-fantasies-column__left{
   padding: 137px 95px 97px 99px;
   margin: 0 95px 0 -99px;
   
}

.section-fantasies-column__middle{
   margin-top: -42px;
   margin-right: 38px;
}

.fantasies-middle__first, .fantasies-right__first{
   margin-bottom: 39px;
}

.section-fantasies-column__right{
   margin-top: -113px;
}


/* section-clients */

.clients-header{
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: #181818;
   margin-bottom: 14px;
}

.clients-logo{
   width: 115px;
   display: flex;
   justify-content: space-between;
   align-items:center;
   margin-bottom: 24px;
}

.clients-log{
   margin: 0 10px;
}

.clients-sublogo{
   width: 390px;
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 29px;
   text-align: center;
   color: #363636;
   margin-bottom: 39px;

}

.section-clients{
   width: 100%;
   height: 1105px;
   background:url('../Image/clients/clients-background.png');
   background-size:contain;
}

.clients-row{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.clients-row__item{
   width: 376px;
   height: 428px;
   background: #FFFFFF;
   box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
   padding: 24px 32px 90px 20px;
}

.clients-discription__header{
   display: flex;
   justify-content: space-between;
   align-items:center;
}

.clients-discription__header img{
   margin-left: 0;
}

.discription-header__text{
   width: 150px;
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   color: #181818;
   margin-left: -23px;
}

.clients-discription__text{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 180%;
   color: #959595;
   margin-top: 22px;
}

.clients-main{
   margin-bottom: 355px;
}

.clients-button{
   width: 293px;
   height: 54px;
   background: var(--button-bg-color);
   box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
   border:none;
   margin: 63px 0 -27px -20px;
   z-index: 1;
   cursor: pointer;
}

.clients-button__main{
   display: flex;
   justify-content: space-between;
   align-items:center;
}

.clients-button__text{
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 24px;
   text-transform: uppercase;
   color: #FFFFFF;
}



/* section-feedback */

.section-feedback{
   width: 100%;
   height: 954px;
   background:url('../Image/feedback/image\ 7.2.png');
   position: relative;
}

.feedback-row{
   position: relative;
   z-index: 1;
}


.feedback-form__header{
   font-family: var(--second-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 43px;
}

.feedback-form__row{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}


.feedback-form__name{
   margin-right: 54px;
}

.feedback-form-name__text, .feedback-form-phone__text, .feedback-form-question__text{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 7px;
}

.feedback-form-name__input, .feedback-form-phone__input, .feedback-form-question__input{
   background: #181818;
   border:none;
   margin-bottom: 3px;
}

.feedback-form-name__input::placeholder, .feedback-form-phone__input::placeholder, .feedback-form-question__input::placeholder{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 23px;
   color: #FFFFFF;
}



.feedback-form__question{
   margin-bottom: 36px;
}

.feedback-form-checkbox{
   margin-bottom: 30px;
}

.feedback-form-checkbox__text{
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 163.68%;
   color: #FFFFFF;
}

.feedback-button{
   width: 200px;
   height: 51px;
   background:var(--button-bg-color);
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 27px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
}



.feedback-main{
   padding: 52px 260px 65px;
   margin-top: -222px;
}

.feedback-main-map__supheader{
   display: none;
}

.feedback-form{
   width: 883px;
   height: 445px;
   background: #181818;
   position: relative;
   z-index: 1;
   top: -222px;
   padding: 34px 181px;
}

.feedback-form-main{
   display: flex;
   flex-direction: column;
}


.feedback-main__map{
   text-align: center;
}

.feedback-main__header{
   width: 589px;
   font-family: var(--main-ff);
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: var(--text-color);
   margin-bottom: 26px;
}

.feedback-main__social{
   width: 71px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 43px;
}


.background-feedback{
   content: '';
   position: absolute;
   top:0;
   right: 0;
   bottom:0;
   left:0;
   background:rgba(0, 0, 0, 0.7);
}

@media (max-width: 1350px) {

   .container{
      max-width: 1091px;
   }

   .header-tel{
      display: none;
   }

   .header-logo {
      margin: 0 85px 0 0;
   }


   .projects-main{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
   }

   .projects-header ul{
      justify-content: space-between;
   }

   .projects-row{
      padding: 50px 134px 414px;
   }


   .projects-img img{
      max-width: 100%;
   }
   
   .section-control{
      margin-top: 75px;
   }
   
   .projects-information {
      margin-left: 22px;
   }
   
   .infomation__text {
      margin-bottom: 35px;
   }

   .information-slaider {
      margin-top: 40px;
   }
   
}

@media (max-width:1200px) {
   .container{
      max-width: 970px;
   }


   .header-nav, .button-header, .header-tel{
      display: none;
   }


   .header-burger{
      display: block;
      margin-right: 0;
   }

   

   .header-burger a{
      display: block;
      width: 40px;
      height: 40px;
   }

   .header-burger__item{
      display: block;
      width: 100%;
      height: 2px;
      background: #FFFFFF;
   }

   .header-burger__item:nth-child(2){
      margin: 33.33% 0;
   }

   /* section-main */

   .repair-main {
      width: 475px;
      padding: 191px 980px 208px 15px;
   }


   .repair-header {
      font-size: 35px;
   }


}

@media (max-width:992px) {
   .container{
      max-width: 750px;
   }

   /* section-main */

   .repair-main {
      width: 375px;
      padding: 191px 850px 208px 25px;
   }
   .repair-header {
      font-size: 30px;
   }

   /* section-control */

   .form-items_row{
      display: block;
   }

   /* section-types */

   .request-row{
      display: block;
   }

   .projects-row{
      padding: 105px 74px 414px;
   }

}

@media (max-width: 767px) {
   .container{
      max-width: 580px;
   }

   .header-logo{
      margin:0 205px 0 0;
   }

   .repair-main {
      width: 325px;
      padding: 191px 850px 208px 25px;
   }
   .repair-header {
      font-size: 30px;
   }

   .projects-img img{
      height: auto;
   }


}

@media (max-width: 550px) {
   
   .container{
      max-width: 420px;
   }

   .header{
      padding: 23px 1px;
      display: flex;
      justify-content: space-between;
      align-items:center;
   }

   .header-logo{
      margin:0 185px 0 0;
   }

   .repair-header {
      width: 400px;
      font-size: 27px;
   }

   .repair-text{
      width: 350px;
      font-size: 14px;
   }

   .repair-buttons{
      display: flex;
      flex-direction: column;
   }

   button.repair-buttons__left, button.repair-buttons__right {
      width: 338px;
      max-width: 100%;
      margin: 0 0 30px 0;
   }
   
}

@media (max-width:375px) {
   
   /* header */

   .header{
      height: 87px;
      padding: 23px 18px;
      display: flex;
      justify-content: space-between;
      align-items:center;
   }

   .header-logo {
      width: 175px;
      margin:0 30px 0 0;
   }

   .header-tel {
      width: 95px;
   }

   .header-nav, .button-header{
      display: none;
   }


   .header-logo a, .header-tel a{
      font-size: 10px;
   }

   .header-burger{
      display: none;
   }

   .header-tel{
      display: block;
   }

   /* section-main */

   .section-main{
      height: 476px;
   }

   .repair-header{
      width: 100%;
      max-width: 329px;
      font-family: var(--second-ff);
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 132.83%;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 16px;
   }

   .repair-main{
      padding: 85px 5px 61px;
      margin: 0 auto;
   }

   .repair-text{
      width: 100%;
      max-width: 339px;
      font-family:var(--main-ff);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 135.84%;
      color: #FFFFFF;
      margin-bottom: 32px;
   }

   .repair-buttons{
      display: flex;
      flex-direction: column;
   }

   button.repair-buttons__left, button.repair-buttons__right{
      width: 100%;
      max-width: 315px;
      height: 51px;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      font-family: var(--main-ff);
      font-style: italic;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;
      background:rgba(0, 0, 0, 0);
      cursor:pointer;
      transition: all .4s;
   }
   
   .repair-buttons__left{
      margin: 0 0 26px 0;
   }
   
   .repair-buttons__right{
      margin: 0;
   }

   /* section-projects */

   .section-projects{
      height: 694px;
   }

   .projects-header, .projects-img, .information-slaider{
      display: none;
   }

   .projects-row{
      padding: 31px 11px 27px;
      
   }

   .projects-information{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: space-between;
      margin: 0 20px 0 0;
   }

   /* .infomation_main{
      width: 135px;
      font-size: 22px;
      line-height: 138.6%;
      text-align: center;
   } */

   .infomation__text{
      width: 301px;
      font-size: 11px;
      line-height: 158.48%;
      text-align: center;
      margin-bottom: 49px;
   }


   .projects-img__subtext{
      display: block;
      position: relative;
   }


   .projects-subtext-arrow__left{
      position: absolute;
      top: 103px;
      left: 25px;
   }

   .projects-subtext-arrow__right{
      position: absolute;
      top: 103px;
      right: 25px;
   }

   .projects-subtext__img{
      max-width: 100%;
   }

   .discription_item{
      margin-right: 51px;
   }

   .discription_item h3{
      font-size: 14px;
      line-height: 138.6%;
      margin-bottom: 11px;
   }
   
   .discription-item__text{
      width: 93px;
      font-size: 11px;
      line-height: 135.84%;
      margin-left: 0;
   }

   /* section-control */

   .section-control{
      height: 851px;
      background: #131313;
      margin-top: 0;
   }

   .control-main{
      padding: 31px 17px 27px;
      
   }

   .control-logo{
      margin-bottom: 40px;
   }

   .control-header{
      margin-bottom: 19px;
   }

   .control-image{
      max-width: 90.67vw;
      max-height: 55.20vw;
      margin-bottom: 28px;
   }

   .control_play{
      position: absolute;
      top: 22.67vw;
      left: 40.53vw;  
      z-index: 1;
   }

   .control-play__img{
      width: 57px;
      height: 57px;
      max-width:100%;
   }

   .control-line{
      margin-bottom: 21px;
   }

   .control-text{
      width: 90.67vw;
      margin-bottom: 61px;
   }
   
   .control-text p{
      font-size: 11px;
      line-height: 169.8%;
      color: #FFFFFF;;
   }

   .form-items_row{
      display: block;
   }

   .form-item_supname, .form-item_supphone{
      color: rgba(255, 255, 255, 0.5);
   }

   
   .form-item_name, .form-item_phone{
      margin: 0 0 8px 0;
      border:none;
   }
   
   .form-item_name::placeholder, .form-item_phone::placeholder{
      line-height: 138.72%;
      color: #FFFFFF;
      background: #131313;
      
   }

   .form-checkbox{
      margin-bottom: 0;
   }
   
   .form-item__button{
      display: none;
   }

   .text{
      width: 69.07vw;
      font-size: 14px;
      line-height: 163.68%;
      color: #FFFFFF;
   }

   .form-checkbox__subbutton{
      display: block;
      text-align: center;
   }

   .control-subbutton{
      width: 90.67vw;
      height: 13.60vw;
      background: var(--button-bg-color);
      box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
      font-family: var(--main-ff);
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      border:none;
      margin-top: 60px;
   }

   /* section-types */

   .section-types{
      height: 2030px;
      text-align: center;
   }

   .types-main{
      padding: 83px 18px 0;
   }

   .types-header{
      font-size: 22px;
      line-height: 138.6%;
      margin-bottom: 17px;
   }

   .types-logo{
      margin-bottom: 40px;
   }

   .types-discription, .types-discription_list{
      text-align: left;
   }


   .types-row_item{
      text-align: center;
   }

   .types-row_item{
      margin-bottom: 15.73vw;
   }

   .types-item_backgroundleft, .types-item_backgroundmidlle, .types-item_backgroundright{
      width: 90.67vw;
      margin-bottom: 177px;
   }

   .types-item_discription{
      width: 270px;
      height: 241px;
      margin-left: 0;
      margin-top: -340px;
   }


   .types-discription_list li{
      line-height: 169.8%;;
   }

   .types-button{
      width: 50.67vw;
      height: 10.67vw;
      font-size: 15px;
      line-height: 138.6%;
      margin: 5.33vw 0 0 -8vw;
   }

   .types-request{
      display: none;
   }

   /* section-fantasies */



   .section-fantasies{
      height: 332px;
      background:none;
      margin: 0;
   }

   .section-fantasies-row{
      padding: 35px 17px 0;
   }

   .section-fantasies-column__left{
      padding: 0;
      margin: 0;
      
   }

   .fantasies-column__title{
      width: 65.33vw;
      font-size: 22px;
      line-height: 138.6%;
      text-align: center;
      margin-bottom: 24px;
   }

   .fantasies-subtext__img{
      width: 90.67vw;
   }

   .fantasies-column__list,.background-fantasies, .section-fantasies-column__middle, .section-fantasies-column__right{
      display: none;
   }

   .fantasies-subtext-arrow__left{
      position: absolute;
      top: 83px;
      left: 0px;
   }

   .fantasies-subtext-arrow__right{
      position: absolute;
      top: 83px;
      right: 0px;
   }

   /* section-clients */

   .section-clients{
      display: none;
   }

   /* section-feedback */

   .section-feedback{
      height: 1192px;
      background:none;
      background: #181818;

   }


   .feedback-form{
      width: 100%;
      height: 666px;
      padding: 173px 17px 0;
      top: 0px;
   }

   .feedback-form__name{
      margin-right: 0;
   }

   .feedback-form__name img, .feedback-form__phone img, .feedback-form__question img{
      width: 100%;
   }

   .feedback-form__row{
      display: block;
      margin-bottom: 31px;
   }

   .feedback-form__header{
      margin-bottom: 52px;
   }

   .feedback-form__question{
      margin-bottom: 21px;
   }

   .feedback-form-checkbox{
      margin-bottom: 67px;
   }

   .feedback-button{
      width: 90.67vw;
      height: 13.60vw;
   }

   .feedback-main{
      padding: 36px 17px 0;
      margin-top: 0;
   }

   .feedback-main-map__supheader{
      display: block;
      max-width: 100%;
   }

   .feedback-main__map{
      display: none;
   }

   .feedback-main__header{
      width: 85.33vw;
      font-size: 18px;
      line-height: 138.6%;
      margin-top: 42px;
      margin-bottom: 23px;
   }

   .background-feedback{
      display: none;
   }

   /* footer */

   .footer{
      display: none;
   }

}
